/*---------------------------------------------GENERAL STYLE----------------------------------------*/
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Sriracha', cursive;
  background-color: rgba(0, 0, 0, 0.055);
}

a:hover{
text-decoration: none;
}
/*----------------------------------------END OF GENERAL STYLE-------------------------------------*/


/*------------------------------------------------HEADER-------------------------------------------*/
/*NAVEGATION BAR*/
.navbar{
  background-color: cadetblue;
  border: 1px solid rgba(95, 158, 160, 0.534);
}


/*SITE LOGO*/
#main-photo{
  margin: 5px 0px 10px 0px;
  width: 70px;
}


/*SITE TITLE*/
.navbar-brand{
  margin-top: 30px;
  padding: 25px 0px 0px 3px;
  font-size: 1em;
}
.navbar-brand a{
  font-size: 1.1em;
  margin-top: 15px;
  color: rgba(15, 25, 39, 0.7);
}
.navbar-brand span{
  color: white;
}


/*TOGGLE BUTTON*/
#btn{
  margin-top: 35px;
}

/*MENU ITEMS*/
.navbar-default .navbar-nav > li > a{
  color: rgba(15, 25, 39, 0.7);
  text-align: center;
  padding: 10px 0px 10px 0px;
  transition: 1s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active{
  color: white;
  background-color: rgb(65, 109, 105, .7);
}

.navbar-default .navbar-nav > li.set a{
  color: white;
}
/*-----------------------------------------END OF HEADER------------------------------------------*/



/*------------------------------------------MAIN CONTENT------------------------------------------*/
/*PAGE TITLE*/
h2#page-title{
  font-size: 2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
  margin-bottom: 25px;
}


/*PAGE TEXT*/
.presentation{
  font-size: 1.2em;
}
.presentation abbr{
  text-decoration: none;
}
abbr{
  transition: 1s;
}
abbr:hover{
  color: cadetblue;
}


/*PAGE LINK TO TOP*/
a#back{
  color: cadetblue;
}


/*PAGE IMAGE*/
.content-image{
  clip-path: circle(35%);
  margin: 10px auto 10px auto;
  transition: 1s;
  background: rgba(128, 128, 128, 0.514);
}
.content-image.dinamic:hover{
  clip-path: circle(70%);
  background: rgba(128, 128, 128, 0.103);
}


/*Carreira*/
.content{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
  margin-bottom: 20px;
}
.content p{
  margin-top: 20px;
  font-size: 1.15em;
}

#if > img{
  margin-bottom: 50px;
}

h3#img-subtitle{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  padding-top: 3px;
  font-style: italic;
  font-size: 1em;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 100px;
}
/*--------------------------------------END OF MAIN CONTENT---------------------------------------*/



/*---------------------------------------------FOOTER---------------------------------------------*/
.panel-footer{
  background-color: cadetblue;
}
.panel-footer p{
  margin-bottom: 0px;
  font-size: 1.1em;
}
.panel-footer hr{
  width: 30%;
  margin: 5px auto 5px auto;
  border-top: 1px solid rgb(105, 134, 151);
}


/*SOCIAL MEDIAS*/
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center > a{
  margin-top: 10px;
}


/*DEVELOPER CREDITS*/
.container > .text-center{
  margin-top: 15px;
}


/*NEW QUERY XXS*/
.col-xxs-12{
  width: 100%;
  margin-top: 10px; 
}


/*FLAGS*/
.hidden-xxs{
  display: none;
}
.visible-xxs{
  display: block;
}
/*--------------------------------------------END FOOTER------------------------------------------*/



/*-------------------------------------------MEDIA QUERIES----------------------------------------*/

/* LARGE DEVICES */
@media (min-width: 1200px){
  /*SITE LOGO*/
  #main-photo{
    margin: 5px 0px 10px 50px;
    width: 77px;
  }


  /*SITE TITLE*/
  .navbar-brand a{
    font-size: 1.4em;
  }


  /*PAGE TITLE*/
  h2#page-title{
    font-size: 2.5em;
  }


  /*CAREER SECTIONS TITLE*/
  .content > h3#img-subtitle{
    width: 20vw;
  }

}/* END OF LARGE DEVICES */



 /* MEDIUM DEVICES */
@media (min-width: 992px){
  
}/* END OF MEDIUM DEVICES */



/* SMALL DEVICES  */
@media (min-width: 768px){
  /*NAVEGATION BAR*/
  .nav{
    width: 40%;
  }


  /*SITE TITLE*/
  .navbar > .container-fluid .navbar-brand{
    margin-left: 0px;
  }


  /*MENU LIST*/
  ul#nav-list{
    margin: 25px 0px 0px 20px;
  }


  /*MENU ITEMS*/
  .navbar-default .navbar-nav > li > a{
    padding-bottom: 0px;
    font-size: 1.12em;
  }
  .navbar-default .navbar-nav > li > a:hover{
    background-color: rgba(95, 158, 160, 0.534);
  }


  /*CAREER TITLE*/
  h2#page-title{
    margin-bottom: 35px;
  }

  /*CAREER SECTIONS*/
  .content{
    margin-top: 20px;
  }
  h3#img-subtitle{
    width: 30vw;
  }
}/*END OF SMALL DEVICES*/



/* EXTRA SMALL DEVICES */
@media (min-width: 480px){
  /*SITE TITLE*/
  .navbar-brand{
    font-size: 1.2em;
  }

  /*FLAGS*/
  .visible-xxs{
    display: none;
  }
  .hidden-xxs{
    display: block;
  }


  /*COLUMN SET*/
  .col-xs-4{
    width: 33.33333%;
  }

}/*END OF EXTRA SMALL DEVICES*/
